[2017-07-25 19:58] franglais125 opened #1 "Gnome 3.24 compatibility improvement"
@jhasse I reworked your fix and included it in my master [03cfa652acf1fec617db8a36524a81c1ba1d9f9b]. I essentially added a version compatibility function to check if the unmax/max function needs to be triggered.

Does this work for you on 3.24? This way we are compatible with Shell versions below or above 3.24.

[2017-07-25 20:05] franglais125 commented on #1
I also pushed two more of your fixes:
- [3a866ce822995245eb36c5dfa98b9b09bb551ea2]: fix undeclared warnings
- [d830c0a258af4e94dd9a766bac6e9635df1a700f]: modal dialogs

Thanks a lot for the heads up! If you don't mind testing, it would be great to know that this fork is compatible with your Gnome 3.24 setup.

I do intend to maintain this.

[2017-07-26 08:28] jhasse commented on #1
Awesome stuff! That version check is a good idea.

I've just tried it on 3.24 and it worked (no restore/maximize of all maximized windows taking place when unlocking the screen).

[2017-07-26 08:41] jhasse opened #3 "Update repo description on GitHub"
Currently the repo description just says "No Title Bar" which is also the name of the repo. As this description is also shown in the `<title>` on the GitHub page a short description would be nice :)
I propose the following which I used on my fork: "Integrates maximized windows with the top panel"

[2017-07-26 15:25] franglais125 commented on #3
Thanks for the suggestion, I included the details int he repo description!

[2017-07-26 15:25] #3 closed

[2017-07-26 15:26] franglais125 commented on #1
Great to hear! I'll close this issue now, but feel free to open new ones of course :)

Cheers!

[2017-07-26 15:26] #1 closed

[2017-07-26 19:24] franglais125 opened #4 "Properly restore the extension"
@Beanow

Hi! You commented on the pixel-saver PR, and mentioned that enabling/disabling the extension doesn't properly restore the state of windows.

I included a fix in this fork that tries to remedy this [b2c498048f84a88d2a1b75d3996f4f8cd8028d8a].

If you want to give it a try, please let me know if it works for you!

[code]

Hopefully we'll see this fork available from e.g.o :)

Thank you!

[2017-08-02 07:22] Beanow commented on #4
Sorry for taking a bit. That indeed fixes the issue for me. :+1:

[2017-08-02 20:37] franglais125 commented on #4
Thank you! I'll close the issue now. i'll try to remember to post here again when the extension is available from e.g.o so you know :)

[2017-08-02 20:37] #4 closed

[2017-08-05 07:46] Mentis opened #7 "xprop zombie process on guake open/close"
When this extension is enabled gnome-session creates zombie xprop process on guake open/close.
Cant reproduce this with Pixel Saver.

[2017-08-05 12:45] Beanow commented on #4
Looks like it already landed on ego.

[2017-08-05 17:06] franglais125 commented on #7
Thank you for reporting this. I'll look into it as soon as I find some time!

[2017-08-05 17:07] franglais125 commented on #4
Indeed! Cheers

[2017-08-05 18:10] franglais125 commented on #7
Is there a specific way of triggering this? It seems I can't reproduce it. I'll keep trying though.

1) Is this on X or Wayland?
2) What distribution and Shell version are you using?
3) Some specific steps etc?

Again, thanks for the input!

[2017-08-07 04:58] Mentis commented on #7
I can reproduce this reliably
Here is my specs:
1. X
2. Ubuntu 17.10 with gnome staging ppa (gnome 3.25)
3. Minimize/Maximize any window, open/close guake.

I really like your addon over pixel saver: it support multiple monitors.
Thank you!

[2017-08-07 13:19] Feichtmeier opened #8 "Request: support for more gtk themes"
Hi, awesome extension!
Could you support united-ubuntu (dark/darker) and adapta, flat plat and pop gtk theme?
I.e. change the window decoration according to the current gtk theme?
Thanks in advance

[2017-08-07 14:04] franglais125 commented on #8
Hi, thanks for the suggestion!

I'll try to accommodate this as well, as soon as I have some time. PRs as welcome of course!

[2017-08-07 14:11] franglais125 commented on #7
Ok, I managed to reproduce this on Gnome 3.25. It seems that 3.22 is unaffected, hence why I coouldn't see the issue.

I'll look into it. Thanks!

[2017-08-07 15:04] franglais125 commented on #7
I've found the cause of the problem, and reverted the commit that caused it. Can someone confirm that the problem is fixed?

To do so:
[code]

And restart the session.

@jhasse Apologies for reverting your commit [03cfa652acf1fec617db8a36524a81c1ba1d9f9b]. I'll try and see how to work around this.

Thanks to everyone involved!

[2017-08-07 15:28] Mentis commented on #7
That's resolved the issue. Cant reproduce anymore. Thank you!

[2017-08-07 15:52] franglais125 commented on #7
Hey @Mentis and @jhasse, I'll bother just once more.

I updated master with [36050af49d89d923131c4b6f0a7387007345dfa0]. I think we can now have the workaround by @jhasse, while not creating zombie processes.

Would you mind testing again? We can close the issue if this is successful.

[2017-08-07 15:55] jhasse commented on #7
Seems to work :)

[2017-08-07 15:56] Mentis commented on #7
Cant repro xprop issue on latest build.
Thanks!

[2017-08-07 19:23] franglais125 commented on #7
Great! Thanks a lot you both! I'll rewrite history a bit, since the last 2 commits are just messy (in case you decide to `git pull`).

[2017-08-07 19:23] #7 closed

[2017-08-15 17:28] BoleynSu opened #9 "A lot of xprop become zombies and will slow down the machine until all memory is used up."

[2017-08-15 17:30] franglais125 commented on #9
Hi! Thanks a lot for opening this issue.

It was already reported here https://github.com/franglais125/no-title-bar/issues/7, and I've already updated the extension to fix it. It's still under review (https://extensions.gnome.org/review/7192).

However, you can try the code directly from git master. It would be great if you could confirm that the latest version (4) fixes the issue for you too.

Ch

[2017-08-16 09:51] BoleynSu commented on #9
cool I will try it thx

[2017-08-16 13:41] #9 closed

[2017-08-16 15:02] franglais125 commented on #9
Perfect, thank you!

[2017-08-16 19:45] franglais125 opened #10 "Pixel Saver fork"
@oft148 I saw you uploaded a Pixel Saver fork for extensions.gnome.org. In case you are interested, I did a very similar thing (https://extensions.gnome.org/extension/1267/no-title-bar/).

It's essentially Pixel Saver with options (you can remove the buttons, change the AppMenu title, etc.).

If you have additional suggestions, we can definitely collaborate on this.

[2017-08-20 00:14] franglais125 opened #11 "Add blacklist/whitelist"
Add an option to have a list of applications that we either blacklist or whitelist:

- Blacklist: don't remove the title of these apps
- Whitelist: remove the title only for these apps

[2017-08-20 00:35] franglais125 opened #12 "Buttons location only work if on the right"
When window control buttons are placed on the left (like in Unity), the user can't select the position of the buttons in the top bar using the settings.

[2017-08-20 21:46] franglais125 commented on #11
Added in [42f8d823cce8d7a20a6db7239b35d4f0ae9c4a21].

To do: Currently we can't add to the list applications that are not installed system-wide.

[2017-08-21 07:02] franglais125 opened #14 "Multi-monitor support (placeholder)"
This is just an announcement to some people I found asking about this. I implemented a feature to deactivate "pixel-saver" on secondary monitors. I uploaded the fork here: https://extensions.gnome.org/extension/1267/no-title-bar/

@the0demiurge @NNois @Zbob750 @1029chris @arcresu @passcod @highvoltage @hackel @kmhofmann @shihrer @overjt @nxadm @cfviotti

[2017-08-21 08:06] passcod commented on #14
Any reason why this isn't a Pull Request on the original?

[2017-08-21 15:00] kmhofmann commented on #14
The original author was reluctant to merge in anything related to that feature, or didn't react anymore at all? See the discussion here: https://github.com/deadalnix/pixel-saver/pull/115

[2017-08-21 15:50] franglais125 commented on #14
Exactly. I merged a couple of other PRs as well into this fork.

[2017-08-24 19:44] #14 closed

[2017-08-24 22:35] woohooatb commented on #11
Hi, I'm from reddit. :)
 If I whitelist Firefox, will it only remove the title from it and ignore other applications?
Or do I have to specifically mention another app e.g mvp on blacklist for it to ignore.
I whitelisted firefox, but when I opened mvp it showed two sets of window control buttons. One on titlebar and one on panel. Even when I blacklisted it, it still did the same thing.
But it works

[2017-08-24 23:50] franglais125 commented on #11
@woohooatb Ah, I see! hmm, I will look into it. I actually didn't apply the black/whitelist to the buttons module (silly me). I will spin this problem into a new issue!

Thanks a lot for the report! This is why I need more testers and feedback!

[2017-08-24 23:51] franglais125 opened #15 "Buttons: apply white/blacklist"
Currently, the buttons module does not take into account the applications in the black/white-list.

Thanks @woohooatb for pointing this out!

[2017-08-25 05:54] evaryont opened #16 "Support showing the title in the app menu for *all* windows"
And not just maximized ones. I use [shellshape](http://gfxmonk.net/shellshape/) with gaps since I quite like my background image, and overlay [conky](https://github.com/brndnmtthws/conky) on top as well for various system information. Therefore, most of my windows are never maximized but I still want the title bar gone, and the title shown in the app bar.

[2017-08-26 23:30] anupam207 opened #17 "Takes some time to show the correct title after switching tabs in Firefox"
I usually observe this issue after using Firefox for quite some time. I have **Replace App Menu name with Window name** option on. So the tab title is shown on the top panel. But when I switch to another tab the title of the previous tab is shown for some time before correctly showing title of the current tab.

Distro: Ubuntu GNOME 17.04, shell version 3.24.2
I noticed the same issue with Pixel Sa

[2017-08-26 23:48] franglais125 commented on #17
Thanks a lot for reporting this! I'll try to take a look as soon as possible.

[2017-08-26 23:53] anupam207 commented on #17
@franglais125 I don't use multiple monitors, only one laptop screen. And as I mentioned, it starts occurring after using Firefox for quite some time.

[2017-08-27 00:29] anupam207 commented on #17
Here's a screenshot. It shows the title of the previously selected Wikipedia tab, instead of the current GitHub tab.
![tab-switch](https://user-images.githubusercontent.com/20688749/29746083-da28fe44-8aeb-11e7-8209-65819387d3dd.png)
I noticed whenever the issue is present, if I **right click** on the current tab or inside the current page, it immediately starts showing the correct title.

[2017-08-28 22:00] franglais125 commented on #17
Sorry for the late reply, as I mentioned somewhere else, I'm traveling at the moment. I'll try to look into it soon.

In any case, this sounds more like a problem within Firefox rather than the extension. I certainly don't mean to sound dismissive - I'll test this myself.

Let me know if you can get more information, and I'll let you know as soon as I understand better the cause of the issue.

Che

[2017-08-28 22:01] franglais125 commented on #16
Thanks for your idea! I'll look into it!

[2017-08-28 22:02] #10 closed

[2017-09-01 15:26] mmoya opened #19 "Wayland, GTK4 and plans for the future"
The README says it's impossible to work under Wayland because:

it's possible to document better what is missing for Wayland in order to ease tracking with upstream or look for alternatives?

[2017-09-08 04:18] rhythmthief opened #20 "Buttons do not appear when a window is snapped"
Snapping a window to either side of the screen removes the title bar, as if the window has been maximized,  but does not seem to invoke the window control buttons (same for having two windows snapped at once).

[2017-09-08 04:20] franglais125 commented on #20
Thanks a lot for reporting this! I think I saw the same issue reported for Pixel Saver. I will try to look into it. As usual, patches welcome if anyone finds a fix.

[2017-09-08 04:33] franglais125 commented on #19
Thanks for taking the time of opening this issue! I apologize for my late reply. This was opened when I was traveling and then I totally forgot to answer.

Documenting what is missing would actually not help, as GNOME is in fact moving in the *opposite* direction:
- In order for this extension to work, we make use of a command (`xprop`) that sets a window property (`GTK_HIDE_TITLEBAR_WHEN_MAXIMIZE

[2017-09-08 05:51] franglais125 commented on #14
Tagging @guenhter

[2017-09-08 10:21] guenhter commented on #14
@franglais125 do you plan to create a pull-request for your changes or do you develop this fork independently?

[2017-09-08 10:25] franglais125 commented on #14
I created a PR for this feature months ago (see link above), but the reluctance of the maintainer to include any settings at all made me close that PR and simply fork it for good.

If you go to the PR, you can see I indeed tried to collaborate, as I hate having duplication of effort, and I maintain other extensions as well. But in the end, it was hurting users not having any settings at all.

[2017-09-08 10:30] guenhter commented on #14
Ah, I see. You really put a lot of effort into this. Very sad do hear that your hard work isn't appreciated by the author...

[2017-09-08 20:19] shihrer commented on #14
👍

Thanks for implementing this (and for bringing it to my attention).  I'll have to check it out sometime.

[2017-09-08 20:21] franglais125 commented on #14
@guenhter Well, I don't want to say that the original author didn't appreciate it, he might be very busy! If anything the lack of feedback was the frustrating part...

Anyway, I'm glad people find it helpful.

[2017-09-10 10:38] tradespite commented on #20
Instead of fixing the described issue, isn't it better to ignore snapped windows from being undecorated?

If I have two snapped windows (one left, the other right) + the fix for this bug, I would always guess which one is currently on focus and hope not to close the wrong one.

[2017-09-10 16:44] franglais125 commented on #20
@tradespite that's a good point. My guess is many people will complain if we remove this, but I could see making this optional. What do you think?

[2017-09-10 17:11] tradespite commented on #20
@franglais125 yes, of course, only optional through a feature toggle :)

But for the undecorated version for snapped windows, I still think it would be a bad behavior to show the control buttons.

[2017-09-10 21:40] franglais125 commented on #20
Some information: we could do this by looking for the property `.tiled` in the css node.

Source: https://developer.gnome.org/gtk3/stable/GtkWindow.html

[2017-09-10 22:39] franglais125 commented on #20
@rhythmthief @tradespite any one of mind testing https://github.com/franglais125/no-title-bar/tree/vertical_windows?

I included two options (for buttons and app menu) to toggle this. I want to make sure it works, but also that it doesn't introduce regressions for people who *don't* want this!

Thanks in advance!

[2017-09-11 00:39] rhythmthief commented on #20
@franglais125 working fine for me! There is now a minor quirk where snapping a single window to the side and focusing some other window (which is not snapped) leads to a situation where you have controls for the former and an app menu for the latter, but honestly it's so small I don't think it's going to bother anyone too much. Thanks for everything!

[2017-09-11 00:50] franglais125 commented on #20
@rhythmthief Thanks a lot for the quick feedback!

Isn't this the case already for maximized windows as well? For instance, a maximized terminal, and a Nautilus window (non-maximized). App-menu belongs to Nautilus, while the controls belong to the terminal.

Since the beginning (when I used Pixel Saver), I found this a bit confusing, but then I realized it makes sense if we think of the top bar as

[2017-09-11 01:17] rhythmthief commented on #20
@franglais125 Yeah, the way it works right now actually makes a lot of sense, just threw me off for a moment. Doesn't look like there are any regressions either, so I think it's good to go. Thanks!

[2017-09-11 14:45] kwill opened #21 "Move window menu entries into the application menu"
At the moment when I use No Title Bar, I effectively lose my window controls (minimise, maximise, close). I can still access them via the window menu by pressing <kbd>Alt</kbd> + <kbd>Space</kbd>. I can also access the application menu by clicking on the application title (including, for example, Quit).

Is it feasible to move the window menu entries (minimise, maximise, close...) into the applica

[2017-09-11 15:25] franglais125 commented on #21
@kwill While it is feasible, we already have something very similar: the window buttons are displayed in the top bar. Here is a screenshot:

![screenshot from 2017-09-11 11-23-21](https://user-images.githubusercontent.com/19195975/30282620-ca0939f8-96e3-11e7-8566-27158c919618.png)

There are several options regarding the buttons:

![screenshot from 2017-09-11 11-24-58](https://user-images.githubus

[2017-09-11 17:27] tradespite commented on #20
I tested it and I found a strange behaviour, maybe someone else could test it:
If I snapped a window via mouse to the left side of, a black decoration is shown. (no window is maximized)
![bildschirmfoto von 2017-09-11 19-25-08](https://user-images.githubusercontent.com/16699062/30287913-17f8ed64-9727-11e7-9818-fef17946e073.png)
Snapping a window via keyboard shortcut (left and right) works fine.

[2017-09-11 17:35] franglais125 commented on #20
@tradespite Is this snapping problem present only with the new branch? Or was it like that before as well?

Two more questions: what program is that, and what Gnome version are you running?

[2017-09-11 17:43] tradespite commented on #20
In v5 I can reproduce it too.
So it isn't a bug from the new branch.

Gnome Version 3.24.2
Application: Nemo, but I can reproduce it also with Firefox

And now I see this isn't always...

[2017-09-11 17:46] franglais125 commented on #20
@tradespite Yeah, I've seen this happen as well. I don't think I can fix it, I'm sure it has something to do with the program miscalculating the geometry, due to the missing title bar. While this is a valid thing (removing the title bar), it's not very common, and I guess it is not very well tested upstream.

In my case, the worst offenders are Firefox and Rhythmbox. Anyway, thanks for the clarifi

[2017-09-11 18:50] franglais125 commented on #20
I included this in master. I'll see if I can fix a few more things, and then I'll publish to e.g.o.

You can run this from git obviously for the time being!

Thanks a lot both of you for the feedback!

[2017-09-11 18:50] #20 closed

[2017-09-11 19:19] rhythmthief commented on #20
@tradespite how consistent is it in your case? I couldn't reproduce it with either nautilus or Firefox, or any other application, really.

[2017-09-11 19:38] tradespite commented on #20
@rhythmthief
sometimes I can reproduce it 5 times in a row... sometimes not...
Maybe it's a problem with another extension installed on my system.

[2017-09-12 09:27] kwill commented on #21
Personally, I would prefer the options to be in a dropdown menu and the buttons to be hidden.

[2017-09-16 10:19] jonnius opened #22 "No close button for half maximized windows"
When I maximize a Window to half of the screen (e.g. SUPER+LEFT) it will hide the title bar, but no close button appears. Works fine with fully maximized windows (SUPER+UP).

[2017-09-16 20:09] franglais125 commented on #22
@jonnius Thanks a lot for taking the time of opening an issue!

n the last version of this extension, I made this functionality optional. Can you check the options to see if it works? If it doesn't, please let me know so I can investigate.

Here is a screenshot of the settings:

![screenshot from 2017-09-16 16-08-16](https://user-images.githubusercontent.com/19195975/30515606-682c60f6-9af9-11e7-9b

[2017-09-17 08:10] jonnius commented on #22
You are right. With this option it works.

As a user I would prefer the following configuration and behavior:

- Have an option for removing title bar on snapped windows. If it is removed, close button behavior should be the same as with fully maximized windows.
- Have an option to always use the close button on top panel, even if the title bar is not removed (restored windows). I got used to the

[2017-09-17 10:08] y2josei commented on #22
I can't see these options and I have just installed the extension. Is there another way to install it beyond gnome.extensions.org? Thanks in advance

[2017-09-17 11:20] jonnius commented on #22
@y2josei yes, you can download it from github and replace the installed one at `~/.local/share/gnome-shell/extensions/no-title-bar@franglais125.gmail.com/`

[2017-09-17 18:13] y2josei commented on #22
For sure. Really cool @jonnius, thank you.
I upvote for the behaviour described here: https://github.com/franglais125/no-title-bar/issues/22#issuecomment-330028484 That would make this extension glorious

[2017-09-18 15:39] anupam207 opened #24 "Doesn't work with GNOME Terminal in Wayland session"
Title bar doesn't go away if I maximize GNOME Terminal in Wayland session. I noticed this for Terminal, but I think it happens with all the windows running in Wayland. Windows running in XWayland, for example Firefox, seem to behave as expected.

Distro: Ubuntu GNOME 17.04, shell version 3.24.2

[2017-09-18 15:42] franglais125 commented on #24
Hi, thanks for taking the time of opening an issue!

In this case, unfortunately there is nothing I can do. This extension only works on X and on XWayland windows. Since GNOME terminal runs natively on Wayland, I can't remove the title bar.

Note that this is not a problem with the extension, or something I can fix, it simply can't be done with an extension.

For more info you can look at this iss

[2017-09-18 15:56] anupam207 commented on #24
No problem. Thanks for your quick reply. Strange to see Terminal not using client side decoration like other GNOME apps. Hope they'll fix it soon.

[2017-09-18 16:07] franglais125 commented on #24
Indeed, I'd like that too!

Closing...

[2017-09-18 16:07] #24 closed

[2017-09-20 11:20] mrprobot opened #25 "Add 'Hide Application Icon" option"
An option to hide the app icon would be a great addition, so we don't have to install another extension for that.

[2017-09-22 18:37] Deus-Rex opened #26 "Can only drag window using gnomes top bar if window is active"
My setup has multiple monitors, so rearranging maximised windows is quite frequent. An issue I have come across with this extension, is that I can't drag a window using the Gnome top bar, unless the window in question is active.

[2017-09-22 18:47] Deus-Rex opened #27 "Include Titlebar actions in the topbar"
Unfortunately, this application removes the ability to manipulate the window using the titlebar. Including this to the topbar would drastically improve the extension, as it would decrease the downsides to using it. This is functionality that was provided by Unity and its topbar, so it would also be appreciated by those moving over in the future.

The functionality in question is the following from

[2017-09-23 06:32] franglais125 commented on #25
Thanks a lot for the suggestion! Do you know any such extension?

[2017-09-23 06:33] franglais125 commented on #26
Yeah, this is something I have experienced first hand. I'll try to look into it!

[2017-09-23 06:35] franglais125 commented on #27
Interesting, nice suggestion! Again, I'll try to look into it.

Generally speaking, patches welcome as well :)

[2017-09-24 15:40] hmlendea opened #28 "Invert button order"
Hello.

Can you add a toggle to invert the order of the buttons?
It feels really weird to have [Minimise, Maximise, Close] when having them in the left hand part of the panel. When inverted they should be: [Close, Maximise, Minimise]

[2017-09-24 18:26] franglais125 commented on #28
Hi! Thanks for the suggestion, I'll try to tackle this when I have some time.

In the meantime, I don't really understand the logic.

1. What do you mean by "when inverted"? And in what way does it feel weird?
2. I know that this is perhaps not exactly what you are looking for, but you can play with the order by using:
`gsettings set org.gnome.desktop.wm.preferences button-layout ':close,maximize,

[2017-09-24 20:05] franglais125 commented on #26
Could you give this branch a try? While it seems to be working for me, I'd love to get some more feedback before including this in master.

https://github.com/franglais125/no-title-bar/tree/dragOnPanel

[2017-09-24 23:50] Deus-Rex commented on #26
It works perfect if the window that has focus isn't maximised. So for single screen workspaces, I believe this patch is successful and worth merging.

However, if you have two screens, and your focused window is maximised on second screen, then you try to drag the primary monitors maximised application using the topbar, then it will not work.

I also tested having two applications taking half of t

[2017-09-25 02:50] franglais125 commented on #26
Ah, good point! Thanks for pointing this out :). This is the very reason I need testers, I'll see what i can do.

This is something that I did consider, but it would be rather messy to have, as you guessed. I'd rather have the inconvenience of being able to drag only the (snapped) focused window, than introduce a convoluted logic that will inevitably end up introducing bugs.

Anyway, thanks a lot

[2017-09-25 13:45] hmlendea commented on #28
I tried the gsetting. It changed the ones on title bars but not the ones from the extension. To be honest, I haven't restarted the system since. I will try it again today.

[2017-09-28 20:27] franglais125 commented on #14
@NNois Give this extension a try, I've included the multi-monitor support.

[2017-09-28 22:30] franglais125 commented on #28
@hmlendea any luck?

[2017-10-01 02:34] anupam207 opened #29 "Add an option to show window control buttons only when the focussed window is maximized"
### Steps:
1. Open and maximize window1. Window control buttons are shown in the activities bar.
2. Open and focus window2, but don't maximize it. Keep window1 maximized and in background.
### What happens:
Window control buttons for window1 is still shown in the activities bar. It causes slight confusion (especially if you have moved buttons to the left of the activities bar) as the application n

[2017-10-02 22:10] hmlendea commented on #28
Yes, sorry for not reporting earlier. Yes, it works :) However I have another issue as the position of the buttons gets reset after restarting the shell. It keeps putting itself at the left end of the bar, right in the corner, when in reality I configured it to stay at the right of the AppMenu.

[2017-10-02 23:50] NNois commented on #14
@franglais125 just perfect ! congrats

[2017-10-05 18:39] michaudg opened #30 "GNOME 3.26 session crash"
When no-title-bar extension is active, session is crashing when closing a maximized window from the activities overview.

[2017-10-05 18:41] #30 closed

[2017-10-05 18:41] franglais125 commented on #30
Thanks a lot for reporting this!

1. Is this on Wayland or Xorg? And does it happen with any application you close?
2. Could you attach errors from the log, if any? Here is how to get them:
[code]

[2017-10-05 19:07] michaudg commented on #30
Sorry, it was a mistake. My session crashes even without any active extensions. Maybe it's a GNOME 3.26.1 bug.

Thanks for your work on this extension.

[2017-10-06 08:46] guenhter opened #31 "Make install fails on debian 9"
Hi,

I get the following error when executing `make install`:

[code]

OS:
`Linux everest_grg 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u5 (2017-09-19) x86_64 GNU/Linux`

Dependencies seems also be available:

[code]

What am I missing?

[2017-10-08 00:20] franglais125 commented on #31
Thanks for opening the issue. I think you are missing the formatting libraries (for internationalization).

Can you try with: `sudo apt install gettext` ?

[2017-10-08 00:21] franglais125 opened #32 "[Feature request]: Blacklist/whitelist for the "Replace App Menu name with Window name""
Requested via email!

[2017-10-08 00:24] franglais125 commented on #29
Thanks for opening this issue! I'll keep this in mind to add an option. PRs welcome!

[2017-10-09 09:10] guenhter commented on #31
Thanks. That was the problem.
Great tool btw. Totally worth it to give it a try.

[2017-10-09 09:10] #31 closed

[2017-10-09 21:57] franglais125 commented on #8
We now have support for Materia (Flat Plat) thanks to @rodrigost23 !

[2017-10-10 20:00] franglais125 commented on #24
I got this working on Wayland with the latest version from git. Would you mind testing it?

[2017-10-10 21:26] anupam207 commented on #24
@franglais125 I've moved back to Xorg as so many things were not working with Wayland :( I'll test the new version as soon as I start trying Wayland again. But can't promise it'll be very soon :(

[2017-10-16 18:36] integrics opened #34 "Doesn't affect gnome-terminal"
Have installed this extension, and it works for Firefox and Thunderbird, but doesn't seem to affect gnome-terminal 3.24.2 running on Ubuntu 17.10.

[2017-10-16 18:39] franglais125 commented on #34
Hi! Thanks for reporting this. You are most likely using the Wayland session... Unfortunately, we can't remove the titlebars on Wayland. The reason Firefox and Thunderbird work is because they are not native Wayland clients, and work through XWayland.

If you feel like installing the latest code from git, I've added a css class that takes care of this problem for some apps in Wayland, but there is

[2017-10-16 18:42] integrics commented on #34
Yes, I've just upgraded to Ubuntu 17.10 which uses Wayland.

[2017-10-16 18:44] franglais125 commented on #34
If you feel like it, you can test the code directly from git, which has a few more commits not yet released to extensions.gnome.org.

Some feedback on that would be great.

[2017-10-16 20:20] integrics commented on #34
Would you have any instructions on how to do that for someone who only started using Gnome extensions a few hours ago?

[2017-10-16 20:51] franglais125 commented on #34
Sure, here it is:

[code]

Log out and log in again. You might need to install a few things:
[code]

[2017-10-16 21:17] integrics commented on #34
Thank you, that works. Do you have any plans to include this feature in the official release?

[2017-10-16 21:18] franglais125 commented on #34
Yes! The problem I have now is that I can't selectively apply the css classes, it's either all or nothing, so some options in the GUI are useless.

I want to see how to deal with this first.

[2017-10-19 12:00] yeKcim opened #35 "restore window on double click"
copy of https://github.com/deadalnix/pixel-saver/issues/111#issue-219984408:

In fact, right clic and middle clic actions, could also be applied…

[2017-10-19 15:24] franglais125 commented on #35
Thanks a lot for your input! I'll close this one as it's a duplicate of https://github.com/franglais125/no-title-bar/issues/27

Patches welcome, otherwise I'll have a look when I have some time, as this is something I personally would like to have as well :).

[2017-10-19 15:24] #35 closed

[2017-10-20 15:05] echonaut commented on #28
I believe what he's referring to is the fact that the left-to-right order of the buttons changes when you change the window buttons to "Left" in the Gnome Tweak Tool. It doesn't *invert* the buttons, which is why it might be confusing, but it reorders them, to what OSX uses (you can see it in [this screenshot](https://cdn.onemorething.nl/uploads/2017/09/macOS-High-Sierra-Storage.jpg)).

TLDR: When

[2017-10-20 15:07] echonaut commented on #28
FYI regarding this issue: if you're using this extension and you change the setting for buttons on left or right side, WHILE THE EXTENSION IS ENABLED, it'll reflect the previous setting. You have to disable and re-enable the extension to make it respect the change.

[2017-10-20 15:43] hmlendea commented on #28
@echonaut I did. And the order of the buttons is fine. Now I have other problems, unfortunately :(

[2017-10-20 23:26] franglais125 commented on #28
Hey guys, thanks for the feedback on this. I'll try to see what I can do about it when I get some time. As I have expressed elsewhere, patches are welcome if anyone is wiling to look into this.

[2017-10-23 10:56] szuliq commented on #34
Now the Ubuntu 17.10 is out (Wayland + drop Unity) I believe this is a great time for "No Title Bar" to gain popularity. People want all the space they can get, especially on small screens.

Did you consider making a note regarding Wayland on the extension's page?

Great work, thanks for the extension.

[2017-10-24 10:44] zaphot opened #36 "wayland version: menu bar clicks "redirected" to wrong button"
Hi,
im using your current master version under ubuntu 17.10 wayland (gnome-session) and have the
problem that clicks on the menu bar in fullscreen wayland applications are sometimes redirected to the first button on the left. In the attached screenshot you can see that i click on "insert" and the "file" menu opens.
This only happens with no-title-bar installed. But could be a more general gtk issu

[2017-10-28 10:22] eugene-rom opened #37 "After screen lock, window name in top bar stop follow title changes for active application"
Steps to reproduce:
1. Open application with multiple tabs with different names (Firefox/Chrome)
2. Press Super-L to lock screen
3. Unlock screen
4. Press Ctrl-PgUp/Ctrl-PgDn to change application tabs. Window name in top bar not follow tab changes.

Switching to another app and returning will restore correct behaviour.

I think, as screen lock disables extensions, on calling "enable" method, no-t

[2017-10-29 13:57] franglais125 commented on #37
Thanks a lot for reporting this. It was a known issue, I just didn't know how to reproduce it.

I fixed it here [8a1406af89ab61fcf21eb1e58dfae5f365f085d1]. Would you mind testing the latest master branch?

[2017-10-29 13:58] franglais125 commented on #17
I think this might have been fixed with the latest commit to master [8a1406a]. Would you mind testing the latest master branch?

[2017-10-29 14:10] franglais125 commented on #36
Thanks a lot for reporting this issue!

Unfortunately, I can't reproduce the problem on Debian Testing with LibreOffice `5.4.2`.

- Does this occur all the time?
- What version of LO are you running?

The bad news is that I doubt I can fix this on my end, as you say it looks like it's a deeper problem within GTK and some wayland layer in LO. As far as I know, LibreOffice is improving its Wayland s

[2017-10-29 14:28] zaphot commented on #36
thanks for replying!
- this issue occurs always
- It is not limited to libreoffice (i am using version 5.4.1.2) but affects every wayland fullscreen application like for example shotwell (see screenshot).
![screenshot from 2017-10-29 15-16-18](https://user-images.githubusercontent.com/29272806/32144711-71d877b2-bcbd-11e7-96a9-6b4cfee01860.png)

[2017-10-29 15:04] franglais125 commented on #36
Hmm, I can't reproduce this with Shotwell either (in Wayland obviously).

Are there any (relevant) errors in the logs? Can you check this?

`sudo journalctl /usr/bin/gnome-shell`

or `sudo journalctl /usr/bin/gnome-shell -f` to see new errors as they happen.

[2017-10-29 16:34] anupam207 commented on #17
@franglais125 Thanks a lot for your reply. Here's what I tried:

1. I downloaded the master zip from GitHub.
2. Disabled No Title Bar from GNOME Tweaks.
3. Extracted the contents of the zip to `~/.local/share/gnome-shell/extensions/no-title-bar@franglais125.gmail.com/` replacing the old files.
4. Enabled the extension again.

But the extension threw error immediately:
![n-t-b-error](https://user-i

[2017-10-29 16:36] franglais125 commented on #17
Hmm, would you mind doing the following:

- Log out and log in (so that the extension is reloaded properly).
- Check for errors in: `sudo journalctl /usr/bin/gnome-shell`

[2017-10-29 16:46] anupam207 commented on #17
@franglais125 I forgot to mention I restarted GNOME shell after activating the extension (I'm in Xorg). I'll try again and look for the error.

[2017-10-29 17:29] zaphot commented on #36
don't think any relevant is in the log, since nothing is added if i perform "wrong clicks". Only one small thing that concerns your extensions:

Debian testing is using gnome-shell 3.22 or? Ubuntu is already on 3.26, so maybe an gnome 3.26 issue.

However, here is the full log after a fresh boot into wayland session

Okt 29 18:14:18 t440s gnome-shell[1353]: JS WARNING: [resource:///org/gnome/shell

[2017-10-29 17:51] franglais125 commented on #17
Ugh, silly me... Just remembered, installing from the zip from github is not ok. The reason is some things need to be "compiled", like the schemas, translations, etc.

In Ubuntu:
[code]

And then reload. If you don't have all the utils:
`sudo apt install make git gettext`

[2017-10-29 18:08] franglais125 commented on #36
Just to be safe, can you try again with master? I just added a commit to remove the debug variables, it should remove the error you were seeing...

By the way, just to be safe, do you have `xprop` installed?

--------------------------

Yes, Debian testing is on 3.22, but I installed 3.26 from unstable manually :)

[2017-10-29 18:24] eugene-rom commented on #37
Tested, looks like it fixed now! Thank you!

[2017-10-29 18:26] franglais125 commented on #37
Awesome! I won't be uploading a new version soon to e.g.o due to some experimental work I'm doing on Wayland, but I'll definitely include as soon as possible...

You can run the code from git for the time being :). Thanks for the feedback!

[2017-10-29 18:26] #37 closed

[2017-10-29 18:35] anupam207 commented on #17
Thanks again @franglais125 . I just `git clone`d and built using `make` just as you suggested, and then logged out and logged in again. But unfortunately it's still throwing error.

I ran `sudo journalctl /usr/bin/gnome-shell` and found this line repeated a few times:
`Extension "no-title-bar@franglais125.gmail.com" had error: Error: second argument to Lang.bind() must be a`

P.S. One more thing I

[2017-10-29 18:40] franglais125 commented on #17
I just left home, so I don't have my laptop with me, but I'll check later.

Can you post the full error? Perhaps with a line number? You can use:

`sudo journalctl /usr/bin/gnome-shell`

To check for *new* errors as they happen.

[2017-10-29 22:14] zaphot commented on #36
Hi, thanks but the click redirect still happens. However, the messages in the log are gone. Xprop is installed. So lets hope this just some wired ubuntu specific issue

[2017-11-06 07:58] blackanthrax opened #38 "does not work for atom on ubuntu 16.04"
![screenshot from 2017-11-06 08-58-24](https://user-images.githubusercontent.com/3631418/32430711-acfe6590-c2d0-11e7-9d3c-c40810bd5ca4.png)

works fine for other applications though.

[2017-11-06 09:13] blackanthrax commented on #38
seemed like it fixed itself somehow.

[2017-11-06 09:13] #38 closed

[2017-11-17 23:33] subiol commented on #29
I am having the same issue.

[2017-11-17 23:36] subiol opened #39 "Add option 'Before status area' for 'Window control buttons'"
In the configuration, Basic Settings, the field 'Window control buttons' has Before and After app menu, and Within and After Status Area, but not Before status area. Is there any reason that option is not included? I would use it if it were.

[2017-11-20 00:07] franglais125 commented on #39
Hmm, didn't think about it. I'll try to add this; patches welcome of course!

[2017-11-20 00:56] franglais125 commented on #34
@szuliq Thanks for the feedback! I now added a note concerning Wayland support.

A new version as uploaded and is awaiting review. I'll close this issue now.

Thanks everyone!

[2017-11-20 00:56] #34 closed

[2017-11-20 00:58] franglais125 commented on #19
Using CSS, I was able to hide the title bars. This is not the ideal solution but it works quite well honestly (took the idea from the "unite" extension).

I'll close this now!

[2017-11-20 00:58] #19 closed

[2017-11-20 01:01] franglais125 commented on #22
Thanks everyone for the feedback. I can't dedicate as much time as before to this extension, so some details might fall through the cracks of my memory.

Regarding @jonnius suggestion, which seems to be popular here, can someone tell me if the current git master is ok with this view? If it isn't would you mind re-explaining it? Some things might have changed in the last two months, so I'm not sure

[2017-11-20 13:15] satriani-vai opened #40 "Side maximization does not work / does not work well"
That is what I mean
![out 04d](https://user-images.githubusercontent.com/5981417/33019725-d6265bc2-cdfb-11e7-9d70-985865284382.gif)
It would be better to disable no-title-bar function for the side maximization

[2017-11-20 17:04] franglais125 commented on #40
Oh, I see. I can add an option for this (patches welcome!).

Just fyi, in my case, on the right-hand side, I can pull the window from the top bar, by using the space between the weather and the red text indicators (I can't see what it is).

[2017-11-20 18:08] satriani-vai commented on #40
It works e.g. with the GNOME-Terminal, but not with some another programs like gscan2pdf or GIMP

[2017-11-21 06:15] osmanlicilegi opened #41 "Not working after 7th version"
It's not working on Ubuntu 17.10 anymore. Having error below.

Nov 21 09:09:01 dincer-latitude gnome-shell[16709]: Extension "no-title-bar@franglais125.gmail.com" had error: Error: second argument to Lang.bind() must be a function, not undefined

[2017-11-21 07:15] zdroid commented on #39
I totally support this. It should actually be standard, to be placed before language options.

[2017-11-21 07:22] szczad opened #42 "Middle monitor showing title bar from left window in 3 screen setup"
Hi,
I've got quite annoying issue. My setup consists of 3 identical screens with left monitor being primary.

Everything works well on both left and right screen but gets screwed on the middle one. Ie.
1) Open terminal on left screen - title from terminal appears on left and middle screen. The right one shows nothing
2) Move terminal to the right screen - title disappears on left and middle screen

[2017-11-21 09:31] szuliq commented on #41
Same issue here.

[2017-11-21 14:46] ErickTucto opened #43 "Error when install No Title Bar"
When I updated the plugin, He showed me the next error

![imagen](https://user-images.githubusercontent.com/22831024/33078371-76e2ec8e-cea0-11e7-88f8-6d3b176448db.png)

I also installed via git, but still showing the same error

[2017-11-21 15:25] forteller commented on #43
Same here. Love this extension, hope you can find the fix :)

[2017-11-21 15:43] anupam207 commented on #43
Same as: https://github.com/franglais125/no-title-bar/issues/41 ?

[2017-11-21 16:34] nhinds commented on #41
Looking at the [changes between v6 and v7](https://github.com/franglais125/no-title-bar/compare/v6...franglais125:master), it seems like the issue is the new `_enableDragOnPanel` / `_disableDragOnPanel` functions in `buttons.js` that was introduced in 52ad939a08710cfcb62892418c44e4e385be9cd7

If the 'button-position' setting is "HIDDEN" then the `Buttons` constructor calls into the `this._disable(

[2017-11-22 00:28] franglais125 commented on #41
Hello all, thanks a lot for the prompt reporting of this problem! It was not obvious to trigger (in my usage at least).

Thanks a lot @nhinds for looking into this, as I actually didn't have that much time to investigate.

I uploaded a new version to e.g.o with the fix. If anyone could confirm that the latest git code works it would be great.

I have to say I'm flattered by the great response to t

[2017-11-22 00:29] franglais125 commented on #43
Hello all, thanks a lot for the prompt reporting of this problem! It was not obvious to trigger (in my usage at least).

Thanks a lot @nhinds for looking into this (#41), as I actually didn't have that much time to investigate.

I uploaded a new version to e.g.o with the fix. If anyone could confirm that the latest git code works it would be great.

I have to say I'm flattered by the great respons

[2017-11-22 00:32] franglais125 commented on #42
Thanks a lot for reporting this!

Unfortunately, I don't have 3 monitors, so it's difficult for me to test. Could I ask you to:

1. Provide a screenshot of the problem
2. Check the logs for errors (just in case), `sudo journalctl /usr/bin/gnome-shell`

Thanks again!

[2017-11-22 02:10] nhinds commented on #41
After installing the current `master`, can confirm the extension works for me and no longer throws the `Lang.bind` error on startup. Thanks for the quick response :)

[2017-11-22 08:04] szuliq commented on #41
I didn't get any info about update.

I've uninstalled and installed the extension again.

The issue is still there.

Oddly enough in the dropdown I see only the version 6.

I don't know how to check the version which I've installed.

From my experience some tools don't re-fetch the package if the version didn't change.

[2017-11-22 14:15] franglais125 commented on #41
@szuliq I inactivated version 7, hence the extension website should offer version 6 as an "update" (since 7 is faulty). Perhaps it isn't doing that.

1. If you want, you can install from git, like so:

[code]

You might need some tools for this in Ubuntu:

`sudo apt install git make gettext`

2. If you want to check the version information, you can run:

`cat ~/.local/share/gnome-shell/extensions/

[2017-11-24 18:11] morphheus commented on #24
As of today, on a fresh gnome 3.26 install, gnome-terminal does not work on Wayland.

[2017-11-24 18:56] Spinnekop opened #44 "Specify title size"
Hi Franglais

Would it be possible to limit the size of the window name. I have dash to panel installed which moved the title to the right but sometimes the title is too long and there is overlap. FYI the budgie-pixel-saver does this if that helps at all. https://github.com/ilgarmehmetali/budgie-pixel-saver-applet.

[2017-11-25 00:56] franglais125 commented on #44
Yeah, this would be awesome to have. I want it for myself, I just need to find some time and do it! Patches welcome.

Thanks for opening this issue!

[2017-11-25 00:57] franglais125 commented on #24
@morphheus great to know that it works for you :). And yes, a relogin is necessary.

[2017-11-25 12:23] Spinnekop commented on #44
I haven't done any coding for more than 20 years! My Cobol won't help!!

[2017-11-25 21:57] franglais125 commented on #44
Ask, and you shall receive: [d5e91ace411cf58e37d863e94fafa80e78620a30]

Would you mind testing the code from git?

General comment: when mentioning patches welcome, I don't mean that I expect them, but I indeed welcome them if they come :)

[2017-11-25 22:20] Spinnekop commented on #44
Sorry dude - I have no title at all now - only the buttons....

On 25 November 2017 at 21:57, Fran Glais <notifications@github.com> wrote:

[2017-11-25 22:25] Spinnekop commented on #44
Idiot me - show appmenu was turned off (but I don't recall doing that!)

On 25 November 2017 at 22:19, Paul Webb <paul@pandawebb.uk> wrote:

[2017-11-25 22:26] Spinnekop commented on #44
Super super super!!!!

On 25 November 2017 at 22:25, Paul Webb <paul@pandawebb.uk> wrote:

[2017-11-25 23:04] franglais125 commented on #44
Awesome! I'll close this... I'll publish a new version eventually including this feature. Cheers!

[2017-11-25 23:04] #44 closed

[2017-11-27 14:36] maweki commented on #41
I've approved the new version on e.g.o. The bugfix is now available via the known distribution channel.

It's quite hard for us to spot such issues beforehand during the review process.

[2017-11-27 16:54] szuliq commented on #41
It is working great now!

[2017-11-27 17:46] franglais125 commented on #41
@maweki thanks for the quick reviews. I certainly don't expect you guys to catch all the bugs! With many features come many corner cases :)

Thanks everyone for the quick feedback! Closing this now.

[2017-11-27 17:46] #41 closed

[2017-11-27 17:46] franglais125 commented on #43
I believe this was fixed in the latest upload. Closing this!

[2017-11-27 17:46] #43 closed

[2017-11-28 09:37] Mancooo opened #45 "[Feature request]: please implement per application hiding of window borders"
Hi, I use your extension and it works pretty good.

But is it possible to implement a feature like described here: https://joshtronic.com/2017/07/26/hide-title-bars-in-gnome-shell/  ?

I would like to eliminate window borders even when the program is not maximized

Thank you

[2017-11-29 17:56] franglais125 commented on #45
Hi! Long time no see (on github)

This is an interesting idea. I'll have a look, but I can't promise anything soon...

By the way, if you really don't want titlebars *ever* you can disable them (as described in the blog) permanently with some css rules. I think it will only work on Wayland though.

[2017-11-30 08:04] Mancooo commented on #45
Hi, indeed long time no see :)

Been using your extenion recently. I just thought about removing the titlebar altogether when Firefox 57 came out with CSD (on Fedora 27 at least). The CSD on Firefox is, at the moment imo very ugly, so I thought about removing the titlebars and got busy with some css to "spice" up Firefox and make it really minimal.

Then I saw that blogpost and you commented on it

[2017-11-30 17:46] zapashcanon commented on #25
@franglais125, check [powerful-topbar](http://git.zapashcanon.fr/zapashcanon/powerful-topbar), I wrote it for my personal use only, but it allows that kind of things.

[2017-12-07 15:50] anupam207 commented on #29
@franglais125 Is the "Autohide buttons" option under *Basic settings* supposed to deal with this issue? I couldn't find any use of it for now? Could you please explain this option?

![ntb](https://user-images.githubusercontent.com/20688749/33724045-51f30ad4-db94-11e7-8a7e-d1bf5d531080.png)

[2017-12-07 16:42] franglais125 commented on #29
@anupam207 The "autohide" option is so that the buttons are hidden en the top bar, until you hover over them with the mouse. So, it might help with what you want, but it's not really a fix.

[2017-12-07 17:55] anupam207 commented on #29
@franglais125 Oh, I see. Thanks a lot for the explanation.

[2017-12-24 19:50] anupam207 commented on #17
Closing this. The issue seems to be solved in version 7/8.

[2017-12-24 19:50] #17 closed

[2018-01-19 10:28] Orycteropus opened #48 ""Close all windows" issue"
Just a little issue I noticed :

When you use the "close all windows" shortcut, the buttons don't disapear.

[2018-01-19 13:48] franglais125 commented on #48
Thanks for the report, and the code suggestion! I'll try to include this as soon as I can... Cheers

[2018-01-20 23:00] Coeur-Noir opened #49 "Buttons in panel are a little « fuzzy »"
Hi,

maybe not extension but top-panel itself related ?

Buttons in panel look less sharp than those in window title bar.
![capture du 2018-01-20 20-35-48](https://user-images.githubusercontent.com/1895947/35188811-9e5715ac-fe3d-11e7-8f3d-d2e4aaf5c9d2.png)
There's a slight difference in rendering them.

We agree it's a very little detail ;-)

[2018-01-20 23:09] Coeur-Noir opened #50 "Exclude « snapped windows » from title-bar hiding ?"
Hi,

not really an issue. And maybe already feasible ?

When two windows are snapped, buttons for the current one in focus appear in top panel. Why not. It just looks a little weird for the window snapped on the right of the screen ( if you have buttons on left - and vice-versa - former Unity user here, sorry ).

Why not let snapped windows with their buttons in each of their title bar ? And only

[2018-01-20 23:36] Coeur-Noir commented on #29
Mmmm… for me buttons are not the problem, but which window name to display…
![capture d ecran de 2018-01-21 00-18-35](https://user-images.githubusercontent.com/1895947/35189031-cc754a6c-fe42-11e7-9015-4e23195b9128.png)
…only the name of the maximized window in top-panel, and not the name of the focused non-maximzed one.
This way each window has its own active buttons.

[2018-01-24 09:41] Orycteropus opened #52 "Buttons not displayed when they have to be displayed."
This issue happens when you have two or more windows including one that is in fullscreen mode and take advantage of the plugin.

When the fullscreen window loses the focus, the buttons disapear, which is correct.
The buttons come back when the window get the focus back.
However, if the window, which is in fullscreen mode, allows you to scroll in its view, the title of the window comes back in the

[2018-01-31 12:43] zvinger opened #54 "Freeze after login"
If I Lock screen and login back system freezes for 5-10 seconds. This is 100% because of extension. It started after update Ubuntu to 17.10

[2018-01-31 13:25] jhasse commented on #50
This was implemented in Mutter at some point IIRC, but dropped. The problem really is: Mutter handles the hiding, to avoid showing the titlebars when tiled all sorts of hacks are needed.

[2018-01-31 14:04] jhasse commented on #54
Might also be fixable by https://bugzilla.gnome.org/show_bug.cgi?id=781760

[2018-01-31 14:16] zvinger commented on #54
I'm sorry. But I didn't understand - is this problem solved or not?

[2018-01-31 14:18] jhasse commented on #54
The GNOME bug report isn't fixed, sorry.

As for your problem: by "update Ubuntu to 17.10" do you mean that you've also switched from Unity to GNOME (and therefore this extension) or were you using GNOME with 17.04, too?

[2018-01-31 14:20] zvinger commented on #54
I used GNOME on 17.04 and updated ubuntu to 17.10. After this I have this problem.

[2018-02-03 08:52] amitbha opened #55 "Feature request: support hiding titlebar of vertical-maximized application"

[2018-02-04 06:56] franglais125 commented on #54
@zvinger Is there any additional information you can read from the logs? For instance:
1. run `sudo journalctl /usr/bin/gnome-shell -f`
2. lock the screen
3. unlock it
4. Look for relevant errors in the log

@jhasse Yeah, having this extension *not* being disabled upon locking the screen would be great. All windows are redrawn unnecessarily... Actually Pixel Saver has a bug (on Gnome 3.22+ IIRC) a

[2018-02-04 06:59] franglais125 commented on #52
Thanks a lot for reporting this. I noticed i merged a PR from you. Was this issue resolved?

If it wasn't, I'm sorry, but I don't really understand how to reproduce this. Could you perhaps include a video/gif of the issue?

Cheers!

[2018-02-04 07:00] franglais125 commented on #49
En effet, un peu laid !

I was always bothered by this, sorry I couldn't dedicate more time for polishing. Patches welcome of course, to anyone willing to improve the situation!

[2018-02-04 07:01] franglais125 commented on #55
I'll need to investigate this. I'll save it for my TODO. Thanks for the suggestion!

[2018-02-05 15:51] MalcolmMielle opened #56 "Terminator show title bar when snapped"
Funny  enough terminator show the title bar when snapped but not when maximized. On the other hand, Firefox never show the title bar maximized or snapped.

[2018-02-05 15:53] franglais125 commented on #56
Thanks for reporting this. Would you mind including a screenshot of both situations?

[2018-02-05 16:07] MalcolmMielle commented on #56
Sure thing :)

![screenshot from 2018-02-05 17-05-50](https://user-images.githubusercontent.com/4457840/35814737-0fa4a818-0a97-11e8-853b-ea14e5a7780f.png)

![screenshot from 2018-02-05 17-06-00](https://user-images.githubusercontent.com/4457840/35814740-12287664-0a97-11e8-96a4-23558a722517.png)

[2018-02-05 16:11] franglais125 commented on #56
Hmm, I don't see this on my system. Couple of questions:

- X or Wayland?
- Gnome version, distribution?

[2018-02-05 16:29] MalcolmMielle commented on #56
* Wayland
* Gnome version 3.25.2
* Gentoo

[2018-02-10 18:45] Orycteropus commented on #52
No, the PR you merged does not concern this issue.

In fact, I only reproduce this issue with the Intellij software ... but as it is the principal application I work with hence I frequently notice this  issue.

I will see if I can attach a gif or a video to show you.

[2018-02-12 07:38] Orycteropus commented on #52
Here is a gif that should help you understand what happens.

![no_title_bar_focus](https://user-images.githubusercontent.com/35597284/36086817-bedf7de4-0fce-11e8-8ebf-271f7c70ffab.gif)

In the fisrt place, the focus is on Intellij, then on Chromium and finally I scrolled down on Intellij and when I get the focus back, the buttons doesn't appear.

[2018-02-15 12:39] luispabon commented on #49
Also, button sizing should conform to desktop scaling - if you change from scale=2 to scale=1 the buttons become ginormous, and if you start a session on scale=1 and go to scale=2 (eg you plug in a 4k monitor) the buttons become tiny. I reckon it's all part of the same issue.

[2018-02-20 21:50] JeCosVi opened #57 "Debian 9.3 Resize Window"
Hi, there is a problem when you resize the window in Debian  9.3, the tittle's bar doesn't hide. Only happen when you resize the  window to the minimun size.

![rect3684](https://user-images.githubusercontent.com/17854097/36451179-715bef12-1690-11e8-8ec2-08944d3b0bf2.png)

[2018-02-22 08:38] jonnius commented on #22
I have just tested the most recent version. On snapped windows it works fine now. Thanks for that! But there is still one issue and a related feature request:

- If I click the close button it closes one of the maximized ones, not the one focused (if that one is not maximized). This is highly confusing. Please, always close the focused window, not just one the maximized ones that are not focused.

[2018-02-23 05:18] franglais125 commented on #57
Thanks for your report!

However, i'm not sure I understand the issue. The title bar is supposed to disappear *only* when maximized (or snapped). Your screenshot shows the title bar on a non-maximized window, which is fine.

Am I missing something?

[2018-02-23 05:23] franglais125 commented on #22
This was confusing for me as well at first, when using the Pixel Saver extension. The idea is that the top bar is the actual title bar of the maximized window, while the non-maximized one already has accessible buttons.

I have to agree that this is not the most intuitive behavior, but I kept it like that as I guessed that's what people were used to. I don't personally use the button much, so I ca

[2018-02-26 15:40] sjug opened #58 "Title bar hidden only on applications on primary desktop"
Hello there,

Using GNOME 3.26.2, no-title-bar extension version 8. All applications work perfectly when they are on the primary desktop.

However if you move them or start them on any other desktop, they are maximized with the title bar still visible. There are no errors for gnome-shell in the journal and I can take a screenshot but it's just exactly how the window looks if the plugin was disable

[2018-02-26 15:43] franglais125 commented on #58
When you say on the primary desktop, do you mean monitor? If so, you can disable ththe following int he settings:

![screenshot from 2018-02-26 10-42-39](https://user-images.githubusercontent.com/19195975/36679693-d2aa51a0-1ae1-11e8-9c08-6524704d5985.png)

Otherwise, could you please send a screenshot?

[2018-02-26 15:46] sjug commented on #58
Yes that's exactly it. Thank you very much for your fast reply, and my apologies.

[2018-02-26 15:46] #58 closed

[2018-03-04 13:47] jelwid opened #59 "Add info about installation of dependencies on Solus"
It wasn't clear to me, so i think it would be nice to add it to README.md:

- Solus: `eopkg install xprop`

[2018-03-04 18:43] Bonsitar opened #60 "Add an option to show offed buttons when there is no window maximized [Feature Request]"
Hi there.
I have an idea, an boolean option (have off/on) that offed window buttons can draw in panel even there is no maximized window, so there if there is another object after that won't move crazily every time and we can have a solid panel.
Thanks.

[2018-03-07 23:31] jcuenod opened #61 "Feature Request: Treat GTiled Windows like Snapped Windows"
I'm using gTile to move windows to certain parts of the screen (it's basically advanced snapping).
I don't need (or want) their title bars when they are in particular locations. I'm not sure how much data you can have exposed by gTile but, broadly speaking, I would like no-title-bar to respond to gTile like it can to snapping of windows.

[2018-03-20 07:29] bmhm commented on #39
I'm looking forward to this patch! :) :+1:

[2018-03-22 12:17] eugene-rom opened #63 "Window buttons should be hidden where maximized window inactive"
Look at screenshot. Active gnome-terminal in foreground, inactive firefox in background.
Top panel show icon and menu for gnome-terminal. So I assume window control buttons in top left corner also will affect foreground gnome-terminal window. But if I click close button in top left corner, firefox will be closed.

So I think window control buttons in panel should be hidden, where active non-maximi

[2018-04-01 14:58] linuxiorr commented on #59
I'm running Solus as well. Xprop makes the extension work partially - the titlebar is removed, I get the min/max/close buttons on the top bar, however I do not get the titlebar content displayed on the top bar.

Installing xwininfo as well didn't fix the issue. I'm guessing there are some other, unknown dependencies.

[2018-04-06 10:32] Coeur-Noir commented on #63
See there : https://github.com/franglais125/no-title-bar/issues/29 I think it's same topic.

[2018-04-06 10:42] Coeur-Noir opened #65 "Right click menu is lost when title bar is moved onto top panel"
Hello,

when window is maximized, there is no longer access to the « move window » menu on right click :
![right_click_on_title_bar](https://user-images.githubusercontent.com/1895947/38417238-dd779302-3997-11e8-86fd-d3e24bec2ec2.png)

[2018-04-10 16:09] Feichtmeier opened #67 "Theme request: suru icon theme support"
Thank you very much for this lifesafer extension (atleast when one have a unity DE background :) )

Could you add support for the suru icon theme window controls?

They can be found here: https://github.com/snwh/suru-icon-theme/tree/master/Suru/scalable/actions

window-close-symbolic.svg
window-restore-symbolic.svg
window-maximize-symbolic.svg
window-minimize-symbolic.svg

I can't attach those fil

[2018-04-14 00:00] Dr-Willy commented on #56
Same problem with gnome-terminal on wayland gnome 3.22.2

[2018-04-14 10:41] ceyhunn opened #68 "[Question] Does this extension work with mutter apps (nautilus, gnome-tweaks and etc.)"

[2018-04-16 03:15] franglais125 commented on #68
Thanks for opening this issue. This extension won't work with windows using CSD (such as Nautilus, gnome-tweaks, gedit).

It *can* work with gnome apps (like gnome-terminal) even on Wayland, as we use css styling for that. I hope this answers your question. Let me know if you there are other cases you might have in mind.

[2018-04-16 03:15] franglais125 commented on #65
Yeah, I'd love to fix this. I'll get to it when I get some time! Meanwhile, PRs are welcome!

[2018-04-16 04:33] ceyhunnabiyev commented on #68
Thank you for the answer.

[2018-04-16 06:38] ceyhunnabiyev commented on #68
@franglais125 , can be  titlebar buttons (close, maximize, minimize) manually added to top panel by the extension in csd windows?
By gsettings option  titlebar buttons can be removed. It would be nice to make all window control buttons place on the top panel. Otherwise  different window control view doesn't look cool, also can be confused. What do you think about it?

[2018-04-17 15:58] adalvigi opened #69 "[Feature request] Add a setting to make the whole area a valid "hitbox" for the three buttons"
In the Gnome top panel, when you hover around a button the whole area it occupies is valid as an area to push the button, and you can clearly see this because the upper border gets a little white bar to show the selected area. This is great because you don't have to exactly hit the button, but the add-on currently behaves differently, and it kinda sucks because it'd be a lot comfier to just smash

[2018-04-17 20:34] ahmed-h-ayyad opened #70 "not working on borders of bar"
the buttons don't work when hovering the mouse over borders of the bar you must point mouse cursor on the center of button.
![screenshot from 2018-04-17 22-33-09](https://user-images.githubusercontent.com/37955014/38895150-82d04826-428f-11e8-8c40-79eef7f8582a.png)

[2018-04-18 08:59] #70 closed

[2018-04-18 09:11] ahmed-h-ayyad opened #71 "Adapta theme"
I created a theme for adapta based on materia theme
If it seems ok I will upload it here and you can add it to the project
![screenshot from 2018-04-18 11-06-53](https://user-images.githubusercontent.com/37955014/38922555-bdb3e8f8-42f8-11e8-9f8b-8c631ac81148.png)

[2018-04-26 14:14] Null-Senpai commented on #11
Is this still being worked on?

[2018-04-27 10:30] adalvigi commented on #69
Works great on my system (Ubuntu Gnome 16.04 LTS) now!

That said, only to make it more consistent with the rest of the Gnome top bar Aesthetically, could you please add the little [top white bar effect](https://imgur.com/a/E0iPkRY) when the buttons are selected?

Also, how does the extensions.gnome.org version release schedule work? When is it updated compared to the source code? It'd be nice to

[2018-05-04 10:23] zaphot opened #72 "stack trace in journalctl"
Hi, i am using ubuntu 18.04 wayland session with this awesome extension. However, i noticed that there is the following stack trace in the sys logs:

[code]

I have a resume/suspend (using s2idle) issue which causes that the current gnome session is lost. Therefore, i searched the logs and stumbled about this stack trace. Without the extension the suspend/resume issue seems to be gone. However, th

[2018-05-04 10:25] zaphot commented on #36
not happening anymore in ubuntu 18.04

[2018-05-04 10:25] #36 closed

[2018-05-06 11:38] enbQao opened #73 "Gtk-Warning, Theme parsing error after removing the extension"
I installed and removed the extension through the Firefox-Gnome-Extension.
Unfortunately, when I now start programs from the terminal, I get the following message:

(firefox:2377): Gtk-WARNING **: 13:37:45.450: Theme parsing error: gtk.css:1:118: Failed to import: Error opening file /home/user/.local/share/gnome-shell/extensions/no-title-bar@franglais125.gmail.com/stylesheet.css: No such file or d

[2018-05-11 09:20] abyss7 opened #74 "Doesn't remove title bar from Evolution window"
Don't know how to diagnose the problem - but it looks like it is: title bar is still there.

[2018-05-13 07:45] Znert opened #75 "[Feature request] Hide minimize/maximize/close button on blacklisted windows"
Currently even blacklisted windows get the window controls.

**Example:**

In Firefox 60 -> Burger menu -> Customize -> On the bottom left corner untick "Title Bar"

This will enable CSD, which means that (finally) the title bar is used for tabs. However, this also means that FF no longer needs the extension, but blacklisting it will still display the min/max/close buttons.

[2018-05-14 09:12] enbQao commented on #73
Removing the corresponding entries in ~/.config/gtk-3.0/gtk.css fixes this issue.

[2018-05-14 09:12] #73 closed

[2018-05-14 13:37] lestcape commented on #8
@franglais125 Really this is not a frustration? Add gtk themes one by one is not the idea.

I open a question in stackoverflow related with that:

https://stackoverflow.com/questions/50313744/how-to-darwing-the-window-buttons-from-a-gtk-context-in-gjs

I hope someone can answer it with a solution, to implement this in a better way. While this happens, you can see this code:

https://github.com/les

[2018-05-19 18:41] tribut opened #76 "gnome-shell crashes"
Hey.

Seeing segfaults of gnome-shell that seem to be caused by this extension:

[code]

This seems to be mostly happening immediately after login (and not all the time). Let me know if you need more information to debug.

Thanks!

[2018-05-24 20:10] jcassee commented on #27
The middle-click to lower window problem can be solved using this extension:

https://extensions.gnome.org/extension/1252/top-bar-middle-click-to-lower/

[2018-05-25 13:06] uusijani opened #77 "Monitor power-off causes title bar to reappear (or disappear)"
## Background
I'm using the currently published version of No Title Bar from Gnome Extensions in Ubuntu 18.04 (gnome-shell version 3.28.1-0ubuntu2).

## Steps to reproduce

1. log in to desktop
2. start Gnome terminal
3. maximize the terminal window (so that the title bar merges with the activity bar)
4. power the display off, then back on

## What happens
The terminal window again has its own tit

[2018-05-31 04:49] b00f opened #78 "After/Before menu doesn't work"
![screenshot from 2018-05-31 12-49-01](https://user-images.githubusercontent.com/8073510/40762017-112a0842-64d1-11e8-85a9-2e20da7de751.png)
There no effect when I select after or before menu...

[2018-06-03 02:24] adalvigi opened #79 "Titlebar-less Firefox doesn't get blacklisted"
I have an issue harmonizing Firefox with titlebar disabled (which thank goodness has been introduced on the latest version on Linux) and this extension. Both without any list, and by putting Firefox on the blacklist, I see buttons both on Firefox next to the tabs, and right above on the title-bar. I'd like the extension to not show the top bar buttons when Firefox is maximized as it already has th

[2018-06-07 02:01] adalvigi opened #80 "LibreOffice apps get a black bar instead of titlebar when launched on full screen"
As title says, LibreOffice Writer, Impress, etc... seem to have this weird issue on my system (Ubuntu Gnome 16.04). They get the controls on the Gnome Top Bar, but instead of having the title bar hidden they have a black bar. If I do minimize and then full screen again the issue is gone and the titlebar is correctly hidden, but it can be annoying if you're used to close and re open LibreOffice sev

[2018-06-07 06:11] zachliu opened #81 "Does it work on Linux Mint 18.3?"
I'm on Cinnamon 3.6.7 with GNOME Terminal 3.18.3. My hope was to get rid of the title bar of my gnome-terminal. But no luck till now.
My `$ screenfetch -t`
[code]

[2018-06-25 08:11] Kidlike opened #83 "not working in fedora 27"
system is up to date.

[code]

Is there anyway to debug this ?

I have enabled it but I don't see any changes.

I used to have the original fork of pixel-saver, and was working fine until I updated today.
The original fork wasn't working either, so I tried this and no luck either.

I'm gonna switch to this fork anyway since the original one is dead.

[2018-07-02 10:08] antekone commented on #83
Same issue here. I've updated Gnome to 3.28.2 and this plugin, as well as original pixel saver, doesn't work for i.e: xfce4-terminal, gnome-terminal, nautilus. Firefox works, Visual Studio Code works.

[2018-07-06 19:45] memeplex opened #84 "The default icons looks a bit blurrier than the one in titlebars"
Compare:

![image](https://user-images.githubusercontent.com/2845433/42397336-ed5ee428-813b-11e8-83b9-67cf7d708a75.png)

[2018-07-07 12:14] SeanVowles opened #85 "Gnome 3.28 fedora 28 kernal 4.17"
Not working will the following:
Gnome:
GNOME Shell 3.28.2

OS:
Fedora 28

Kernel:
4.17.3-200.fc28.x86_64

[2018-07-22 22:58] MuradAkh commented on #71
Hey, do you mind sharing it? I would like to add it manually since it wasn't added

[2018-07-26 14:32] tiotrom commented on #77
I can confirm that too. Same OS and Shell version.

[2018-07-26 14:33] tiotrom commented on #76
I can confirm. Happens to me too.

[2018-08-01 04:25] franglais125 commented on #85
Is it still the case? Have you installed the necessary utilities? `dnf install xorg-x11-utils`

If it sill doesn't work, could you provide a journal log to see if there are any errors?

[2018-08-01 04:28] franglais125 commented on #81
I am not sure I can answer your question fully. You may be able to achieve the same goal by using `xprop` and setting the boolean manually (at least for one window to see if it works at all).

You need `xprop` and to see `_GTK_HIDE_TITLEBAR_WHEN_MAXIMIZED` for the terminal window.

You can refer to the source (here https://github.com/franglais125/no-title-bar/blob/master/decoration.js#L329) for so

[2018-08-01 04:32] franglais125 commented on #79
This was addressed by PR https://github.com/franglais125/no-title-bar/pull/86. Thanks for reporting the issue!

[2018-08-01 04:32] #79 closed

[2018-08-01 04:40] franglais125 commented on #72
Thanks for reporting this! I hope I took care of the issue with [fe55811d1a51f5d554233346f890f8f439b549c9]. Would you mind testing `master` to see if the issue is gone (or at least softened). Cheers

[2018-08-01 04:43] franglais125 commented on #80
Thanks for reporting this issue! I've experienced this myself in the past. Not much I can do it about it... What I can tell you is that the issue was resolved upstream (Gnome Shell) by adding a smarter redraw when the titlebar is hidden. So the issue should go away once you upgrade to 18.04 (or something as new).

[2018-08-01 04:43] #80 closed

[2018-08-01 22:04] franglais125 commented on #76
You'll need git and make if you don't have them (`sudo apt install make git`).

Then:
[code]

Then restart the session (Alt+F2, then `r`), and activate the extension (from the Gnome tweak tool for instance).

To check for errors, you can have a look at the journal: `sudo journalctl /usr/bin/gnome-shell`

[2018-08-02 05:12] dboy591 opened #88 "Windows buttons show in top bar when not maximized"
Ubuntu 18.04.1 with Gnome 3.28 and installed from git.

Window buttons are shown in the top bar even when the window is not maximized.

Tested with and without blacklist enabled.  Also tested with "Show buttons for all windows" disabled.

[2018-08-02 05:41] dboy591 commented on #88
Something in commit **9bef2ca** is causing the issue.

[2018-08-02 09:46] tiotrom commented on #76
Ok. I have the extension installed from gnome extensions.

[code]

[2018-08-03 00:03] franglais125 commented on #88
Thanks for reporting+fixing! Fixed at [54ea99c3abfaa37ba409212ff884bb1e58669e8f].

[2018-08-03 00:03] #88 closed

[2018-08-06 10:52] zaphot commented on #72
Hi, the resume issue was luckily caused by something totally different and is fixed (https://gitlab.gnome.org/GNOME/mutter/issues/70). However, the stack trace is still there. I am using current master (54ea99c)

[code]

[2018-08-06 14:06] uusijani commented on #77
Alright, from my brief testing it would seem this does not reproduce under Wayland.

My recipe above appears to be quite sensitive to details: I have a test user with a clean desktop (with little more customization apart from the extension), and there the recipe works just as written. On the other hand, with my main user account it doesn't. To clarify: while the steps listed above fail to reproduc

[2018-08-22 07:26] BanovMiroslav opened #92 "Place buttons before status area"
It will be nice to be able to place buttons before anything else in the status  area, or if it was possible to control the position within the status area somehow. The buttons don't stand out enough when they are in the middle of other things. They should be placed before language switcher and applets such as shutter or slack.
![image](https://user-images.githubusercontent.com/5445989/44449046-b19

[2018-08-25 06:00] rickysarraf commented on #11
The Whitelist functionality is not working here. It applied the No Title functionality to all applications.

GNOME: 3.28
Distro: Debian Sid
No Title Bar: extensions site. I guess 3.26

On that note, the extension window has no way of telling what version it is.

[2018-09-01 09:52] eddy-geek opened #93 "Will break with gnome-shell 3.30"
Extension does not start on Fedora 29 Beta, gnome-shell 3.30 RC (3.29.91-1)

## Current Behavior
Following errors are printed:

    TypeError: global.screen is undefined
    appMenu is null
    TypeError: global.screen is undefined

## Possible Solution
See https://github.com/home-sweet-gnome/dash-to-panel/issues/434 and fix https://github.com/micheleg/dash-to-dock/pull/770

## Your Environment
*

[2018-09-02 01:04] emichael opened #94 "[Duplicate] Possible to disable for snapped windows?"
Hopefully simple feature request: It would be nice to have the option to disable no-title-bar for snapped windows. That is, I want to remove the title bar for maximized windows, but not for windows snapped to the left or right.

[2018-09-08 17:38] Coeur-Noir commented on #71
Thanks !

[2018-09-08 17:40] Coeur-Noir commented on #94
https://github.com/franglais125/no-title-bar/issues/50

[2018-09-08 18:09] eddy-geek commented on #93
Actually the work for this has been done already. I can confirm git master works with 3.29.91.

What is missing is the update of the official gnome-shell store.

[2018-09-10 04:51] torchlard commented on #77
I also encounter same issue under xorg. Every time I resume laptop from suspension, all titlebar appears, and then when I click on the windows, the titlebar disappears and leave empty gap.

[2018-09-10 19:29] emichael commented on #94
I see. Sorry for the dupe.

[2018-09-10 19:29] #94 closed

[2018-09-11 13:16] tiotrom commented on #77
the only solution for now is to "F2", type "r", enter, so it restarts the Gnome Shell. Not convenient at all but well...i hope it will get sorted out

[2018-09-14 08:33] tqhao94 opened #95 "What does "Auto hide buttons" and "Show buttons for snapped windows" do ?"
Hello everyone,
In the Extension settings I see that there are options to "Auto hide buttons" and "Show buttons for snapped windows", but by changing these I don't see any change in the title bar.
Does anyone know what it do ?
Thank you !

[2018-09-17 01:20] tio-trom opened #96 "Not working in Solus"
Like the title says. Works in Ubuntu 18.04 bot not in Solus unfortunately...

[2018-09-17 02:48] TROMsite commented on #96
Ok I figured it. Just install "xprop" in Solus. Simply do that through the software center :) - awesome. Thanks for this awesome and needed extension!

[2018-09-17 21:05] x777x commented on #85
xorg-x11-utils is installed
gdm version: 3.28.4
kernel: 4.18.7

I found this in the logs:

JS ERROR: TypeError: Shell.StageInputMode is undefined
AppMenu<._onFocusChange@/home/user/.local/share/gnome-shell/extensions/no-title-bar@franglais125.gmail.com/app_menu.>
wrapper@resource:///org/gnome/gjs/modules/_legacy.js:82:22
activateWindow@resource:///org/gnome/shell/ui/main.js:569:9
MyAppIcon<.activa

[2018-09-19 01:58] trustin opened #97 "Fix deprecation warnings on 3.30"
It seems like the current behavior of `UInt8Array.toString()` has been deprecated. GNOME 3.30 keeps producing a warning message about this into syslog. The following patch fixed the problem for me, but I'm not an expert on GNOME extension programming, so I'd like to leave this to the author:

[code]

Note: There was one more place that calls `toString()` but I wasn't sure if it is for an `UInt8Arr

[2018-09-24 05:56] storm119 commented on #97
Seems this patch worked on my side too (Manjaro Gnome)...thank you!

[2018-09-27 11:33] tiotrom opened #99 "Not working 100% with Nvidia drivers"
I have Manjaro Linux with Gnome and when I use the default drivers like Bumblebee, this extension works perfectly. If I only install Nvidia drivers (390xx) it stops working if I lock the computer for example and I unlock it. It forces me to restart the gnome shell every time I unlock my computer.

[2018-10-02 13:45] leynebe opened #100 "Not working on second monitor on Ubuntu 18.04"
Doesn't seem to be working when using a second monitor on Ubuntu 18.04. This is a fresh install.

[pic1-without-status-bar-extension](https://imgur.com/a/zuAvOOu)

The status bar is also not visible on the second monitor. I enabled it with a second plugin but to no avail.

[pic2-with-status-bar-extension](https://imgur.com/a/1R4VdrY)

Thanks in advance

[2018-10-16 12:00] aspidxt commented on #93
+ 1, crashes on GNOME Shell 3.30.1
`gnome-shell[22270]: Extension "no-title-bar@franglais125.gmail.com" had error: TypeError: global.screen is undefined
`

[2018-10-16 12:59] pwd-github commented on #93
Hopefully @trustin can make a pull request with the changes he proposed in #97 so they can merged.

[2018-10-16 13:45] trustin commented on #93
I release the diff I published in #97 under public domain as defined in https://creativecommons.org/publicdomain/zero/1.0/deed.en

Please feel free to take it and do whatever you wanna do, e.g. sending a new PR or merging it into your repository.

[2018-10-16 13:53] pwd-github commented on #93
Done. Thank you @trustin

[2018-10-16 13:54] pwd-github commented on #97
These changes appear in #101

[2018-10-21 01:20] ghost opened #102 "Blacklist mode is broken"
If I use blacklist mode, at the current state of things no window gets it's title bar removed at all.

[2018-10-21 22:20] skewty commented on #99
I am not a dev here but it sounds like driver issues, not extension issues.  This extension works at a level much higher in the graphics stack.  Have you tried filing a bug with NVidia?

[2018-10-21 22:29] skewty commented on #61
if I am not mistaken, gTiled windows are just resized windows.  gTiled windows AFAIK cannot be detected as "Tiled".  I think you might be better off putting this feature request on gTiled itself.

It could keep a cache of which windows it tiled and when they get moved out of tile location, restore their controls.  That would be way out of scope for this project.

[2018-10-22 02:22] jcuenod commented on #61
Ahh, that makes sense...

[2018-10-22 02:22] #61 closed

[2018-10-22 04:08] jcuenod commented on #61
Good point, this makes sense. Thanks.

[2018-10-22 16:40] pwd-github commented on #93
Does anyone know what @franglais125 is planning to do with this extension?

[2018-10-23 23:59] loxK commented on #99
Dunno if it is related to me using also the nvidia drivers, but I have the same issue when unlocking.

[code]

[2018-10-25 01:01] jsonbruce opened #103 "[BUG] Object St.BoxLayout (0x55c133893030), has been already deallocated"
- Ubuntu 18.04.1 LTS
- gnome 3.28.3

I got the below error:

[code]

[2018-10-25 01:31] catb0t commented on #103
looks like a possible use-after-free in GNOME's JavaScript engine, unless this code does something *extremely sketchy* I'm guessing this is an upstream edge case

[2018-10-29 15:09] skewty opened #104 "Add Window title as an indicator for 3.32 support"
Since Gnome 3.32 is likely to have the app menu removed, usage of the app menu will no longer be an option.  And the tray has already been deprecated.

Would a widget that integrates into GNOME more tightly (like network, clock, battery) be the only way to achieve this?

[2018-10-30 17:18] tijptjik commented on #85
This was solved (for me) by installing the current `HEAD` on `master`.

[2018-10-30 18:41] catb0t opened #105 "Does not properly uninstall"
The lines

https://github.com/franglais125/no-title-bar/blob/03b13a9ac7b1cca75ee304e60099e2604cfe6a1d/decoration.js#L454-L478

are leftover in `~./config/gtk-3.0/gtk.css` when the extension is removed, as reported in #73.

#73 was closed when the person decided just to remove the lines which works but I'm reporting that the extension doesn't remove the lines correctly, i.e.

https://github.com/fra

[2018-11-05 06:39] franglais125 commented on #97
Thanks a lot for looking into this, and for providing the solution! Do you know how far back this works? I just want to make sure we don't break the extension on old versions.

At the moment, we claim to support Gnome Shell 3.18 to 3.30.

[2018-11-05 09:35] trustin commented on #97
I personally have no idea since I'm not an expert on GNOME's extension API. Perhaps we could check some version numbers and use the old APIs only for old versions? .. because otherwise my syslog would explode :-)

[2018-11-06 04:48] maksim-pinguin opened #107 "Make compatible with Multi Monitors Add-On"
The [Multi Monitors Add-On](https://github.com/spin83/multi-monitors-add-on) is a nice extension. It adds some really essential (in my eyes) features to gnome for useage with a second screen.
And no-title-bar is of course really great too - I love it, but on multi screen setup its only partially helpful. When basically its only useable with the setting "Remove the title bar only on main screen".
N

[2018-11-09 15:04] wotmshuaisi opened #108 "gnome 3.30.2 crashed because of no-title-bar"

[2018-11-11 03:48] #108 closed, assigned to nobody

[2018-11-30 14:56] gombosg commented on #100
Same here on Fedora 29. Title bar is not hidden on external screen, but works fine on the primary screen.

[2018-12-12 06:27] andyholmes commented on #97
@franglais125

This is new as of GJS-1.54. A simple way to handle this in backwards-compatible fashion is like so:

[code]

I'm pretty sure this how gnome-shell does it, too.

[2018-12-13 20:28] dnut opened #109 "Continues to remove some title bars after being disabled"
I disabled this extension from the tweak tool, but filezilla and terminator still have their titlebars removed when maximized. This never happened before installing the extension.

[2018-12-15 17:28] Pshemas opened #110 "Would it be possible to "bundle" window buttons with app menu / tile"
I'd love to see an option that would bundle / glue together window buttons (minimize / maximize / close) with app menu (title of an active app that is being displayed on the main GNOME bar).
Currently you have a setting to display window buttons before / after app menu or before / in / after status area. While handy it would be awesome if we could treat window controls and app menu / title as a si

[2019-01-21 07:14] Rudy-MS opened #111 "Window control buttons change position after each reboot but option description within config stays the same :("
Okay, so I hope to explain this the best i can. Please ask questions if unclear :)

The description:
In the configuration window of "No Title Bar" there's the tab called "Basic settings". Directly underneath it is a field called "Window control buttons" with options on where to put the "Window control buttons". The one that best suits my needs is the "Before status area".

![image](https://user-im

[2019-02-01 08:56] euh2 commented on #109
Same here. Seems like this extensions makes some changes which are not reverted when the extension is disabled. Annoying.

[2019-02-20 15:42] CodingInTheUK commented on #77
I have just resolved this very issue, it might not be the case for you, check on the list type setting withing the settings for no-title-bar you will see three options, mine was set to whitelist with an empty list, what is odd however is that chrome seemed to be ignoring the whitelist option until i power cycled the monitor it was on. once i reverted back all seems fixed, power off/on has no adver

[2019-02-21 15:12] uusijani commented on #77
Tested this again and it seems to have been fixed at some point by some Ubuntu (18.04) updates: my test user still had version 8 of the extension, and I could no longer reproduce the issue, neither before nor after updating the extension to release v9. My main user's desktop now also appears unaffected.

(I was going to try the workaround reported by @ChrisLancs, but ended up not having to. My "Li

[2019-02-21 15:12] #77 closed

[2019-02-22 18:33] Barugon opened #112 "Window control buttons missing for Evolution"
The window control buttons work for all my apps but they're missing for Evolution (Fedora 29).

[2019-03-09 14:27] shemgp opened #113 "Request to use _MOTIF_WM_HINTS since _GTK_HIDE_TITLEBAR_WHEN_MAXIMIZED is removed"
Hello,

In GNOME 3.32 `_GTK_HIDE_TITLEBAR_WHEN_MAXIMIZED` is gone: https://gitlab.gnome.org/GNOME/mutter/merge_requests/221

They say that extensions should use _MOTIF_WM_HINTS instead.

Could you update this nice extension to use that instead?

Thank you.

[2019-03-10 21:12] skewty commented on #67
Looking for Yaru / Suru theme (Ubuntu default) support.  This is likely the most popular theme out in the wild now as it has become the Ubuntu default.

[2019-03-10 21:13] skewty commented on #67
Duplicate (sort of) of issue #8

[2019-03-10 21:15] skewty commented on #95
Show buttons for snapped window, when disabled, requires you to use keyboard shortcut to unsnap a window and get the titlebar back.  When enabled and while snapped the active window can be controlled by using the buttons embedded into the top bar.

[2019-03-10 21:22] skewty commented on #67
Seems to be working in 18.10.  But they looked different due to a heavier weighted font being used in the title bar by default.

I believe this should be closed.

[2019-03-10 21:26] Feichtmeier commented on #67
Yes I've fixed it myself xD
A PR for Yaru dark and communitheme dark is needed though. Symlinks should be enough

[2019-03-10 21:28] skewty commented on #110
The [After app menu] option does that for me.

[2019-03-12 22:04] Pshemas commented on #110
yeah, but it means you have those buttons on the top left area of the top bar, where app menu is - which IMO is not good. I'd like to have it consistent throughout the system.
As I don't see any extension that would move app menu to the right I thought I'd ask whether bundling app menu with no-title-buttons is even doable :) .

[2019-03-16 15:05] aulospl opened #114 "Broken in GNOME 3.32.0"
The extension loads but no longer works on GNOME 3.32.0.

[2019-03-16 18:34] lelandjansen commented on #84
+1

The icon padding is also considerably higher than the default behavior.

Stock Ubuntu 18.04 at 200% scale:
![image](https://user-images.githubusercontent.com/11789857/54479886-70620400-47e7-11e9-8ced-63891a5c7239.png)

[2019-03-17 12:30] jonian commented on #113
Hi @franglais125. I have fixed this issue in my extension (unite) and this is the final solution:
 https://github.com/hardpixel/unite-shell/blob/master/unite%40hardpixel.eu/modules/windowDecoration.js#L86

More info on possible problems using `_MOTIF_WM_HINTS`:
https://gitlab.gnome.org/GNOME/mutter/merge_requests/221#note_461106

[2019-03-17 13:17] Wuestengecko commented on #114
It loads, but only works partially. The buttons in the top bar are present and work (minimize and close), I can drag down from the panel to grab the window, but title bars are no longer hidden. Looking Glass says there hasn't been any error message, journalctl confirms.

Gnome Shell 1:3.32.0+15+gb7d79a5f0-1
NTB v9-7-g7e14934
Arch Linux

[2019-03-17 14:40] meridius commented on #114
I get nothing in my LG and following in my journal:

[code]

[2019-03-17 14:50] satriani-vai commented on #114
In my case the option  "Show buttons for all windows" do not work and a title bar is still not hidden as well.
![image](https://user-images.githubusercontent.com/5981417/54493141-ceb4e280-48cc-11e9-87a8-b53b0194d052.png)
![image](https://user-images.githubusercontent.com/5981417/54493153-ec824780-48cc-11e9-8edb-460ede0685a2.png)

[2019-03-23 08:51] anton-z-s opened #117 "Close button can be clicked with just mouseup (wayland only)"
When showing a close button at the top-right corner, it can be accidentally clicked when scrolling, by dragging a scroll bar and releasing the mouse button on the close button.

Here are the details:
1. I want to scroll the page, I hold the mouse button on the scrollbar.
2. I drag the scrollbar to the top, my cursor is now on the close button (it's not intentional, it's just faster to move it to t

[2019-03-24 17:09] sonicdebris commented on #114
Having the same issue here (with Antergos). I noticed that some apps, like Firefox, now have no title bar by default (the window's close/minimize/iconify controls are on the level of tabs). Same for the settings, and gnome apps (which I think were like this even before, on 3.30). Some other apps, like Atom or QT Creator, still have the title bar, which is not hidden.

[2019-03-25 18:22] skewty commented on #114
Apparently the [Unite extension](https://github.com/hardpixel/unite-shell) figured it out for 3.32.  Perhaps the same "fix" will work for this extension.

[2019-03-26 15:08] MateuszKubuszok commented on #114
Well, kinda. For now I moved to Unity extension, but it has this issue https://github.com/hardpixel/unite-shell/issues/74 that apparently comes from its approach (they had it for a long time). I never had this issue with no-title-bar, so personally I would hope for a fix that works with multiple screens. I don't know if copy-pasting their solution would not fetch their issues.

[2019-03-26 15:33] andrewfader commented on #113
If we don't want to use unite-shell what is the solution for maximal/no-title-bar/pixel-saver/etc?

[2019-04-01 22:19] Barugon commented on #112
Is this project dead?

[2019-04-06 05:45] jmcomets commented on #114
I tried switching to Unite & noticed a pretty substantial increase in CPU usage. I'd be happier if this was fixed :grinning:

[2019-04-06 11:49] bryango commented on #114
High CPU usage seems to be caused by the top icon component. After disabling that, CPU usage looks normal for me. However, unite messes up the top panel (e.g. hardpixel/unite-shell#100), and it has too many features that I don't want, so I'd rather use no-title-bar as well. :stuck_out_tongue_winking_eye:

[2019-04-07 23:02] skewty commented on #110
Keep in mind that the AppMenu is changing in Gnome-Shell.  The menu aspect of it is basically gone in 3.32 for example.

How do get consistency if left/right tiled windows have their titlebars removed?  The controls position for one of the windows will be wrong / not intuitive / inconsistent.

And what will happen if / when quarter tiling and top / bottom tiling is supported?

I wish only maximize

[2019-04-08 04:32] Ludonope commented on #114
I have tried to modify the extension to make it work. It kinda works but not really. The bar is removed for the focused window when the shell is reloaded and that's all, I don't know why.

I have replaced the `cmd` in `decoration.js` in the method `_setHideTitleBar`.

[code]

[2019-04-08 06:10] bryango commented on #114
After some experiments I find that the side effects of unite can be eliminated by simply commenting out its `stylesheet.css`. Now unite seems quite usable to me!

[2019-04-11 07:58] diabolicle commented on #114
I've been using https://github.com/velitasali/GTKTitleBar/ on 3.32 without any issues.

[2019-04-11 09:35] uniquePWD commented on #114
Such a simple and beautiful implementation, thank you for the heads up.

[2019-05-21 13:31] weeman1337 commented on #114
GTKTitleBar is fine so far, but one thing is really missing for me: Closing an application is painful. If have to minimize it and then click the X. I also appreciate the white and black list function of no title bar.

So +1 for getting this thing running in 3.32.

[2019-05-31 07:30] voddan opened #118 "Stopped removing title bar on Ubuntu 19.04"
After I updated to U 19.04, the title barrs appeared despite the Extension being activated. All the other functions seem to be working.

Checked on regular Gnome and "Gnome on Xorg"

[2019-06-06 07:33] Ramesh-X commented on #100
is there a fix for this yet?
Same problem. Ubuntu 18.04

[2019-06-26 23:54] dkiyatkin commented on #114
its working for terminal with this option `settings set org.gnome.Terminal.Legacy.Settings headerbar false`

[2019-07-16 08:02] EleRam commented on #118
Same problem.

[2019-07-16 15:58] poehlerj commented on #118
The reason for this is discussed in #114. Gnome 3.32 provided with Ubuntu 19.04 doesn't support the mechanism, this extension is using any longer. You can try my fix provided here and report possible errors: #119

[2019-10-19 08:08] HubKing opened #120 "Not working with some applications such as Blender."
Thank you for the extension. I am using Manjaro with Gnome Gnome 3.34.1.

When I tested, it currently works for:
    LibreOffice, Handbrake, Shotwell

but does not work for:
    Blender, Android Studio (and other JetBrains IDEs), Krita, Gimp, VLC, Inkscape, Code-OSS, DB Browser for SQLite.

Do you have any idea why it does not work for those applications?

[2019-12-16 18:26] av-engineering opened #121 "Not remove title bar for snapped windows"
There is no option not the remove the title bar for snapped windows. Do anyone have a suggestion, how to achieve this?

[2020-02-26 15:48] scottstensland commented on #120
on Ubuntu 20.04 works on brave browser and opera browser yet not on firefox nightly

Keep up the good work !!!

[2020-04-25 02:49] mhf-air opened #122 "Ubuntu 20.04: the window control buttons won't move"
It seems that in ubuntu 20.04 the window control buttons setting has no effect

[2020-06-27 14:21] rcywongaa opened #123 "After waking from sleep, title bar is hidden but window size is offset"
After waking from sleep and logging in, the title bar is hidden but the shadow of the title bar is still there (see image).  Also, the window size is offset as though there is still the title bar

![image](https://user-images.githubusercontent.com/7285669/85924302-1003b280-b8c4-11ea-8451-cb3ec350eec5.png)

Also happens with the [pixel-saver extension](https://github.com/pixel-saver/pixel-saver/iss

[2020-11-04 14:03] jobs-git commented on #123
same problem. any solution?

[2021-01-18 13:53] pmoieni opened #124 "Error: "No JS module 'tweener' found in search path" on Ubuntu 20.10"
the extension shows this error. "No JS module 'tweener' found in search path" . I think it's because tweener path is changed to imports.tweener.tweener.
please fix it.

[2021-04-07 23:17] mjason98 opened #125 "buttons and theme"
the buttons does not have the same aplication theme that i have

[2021-04-08 00:00] #125 closed, assigned to nobody

[2021-06-29 20:55] peter-lyons-kehl commented on #105
Confirming this defect: After uninstalling the extension, when I start Firefox from a terminal, it reports:

`(/usr/lib/firefox/firefox:4777): Gtk-WARNING **: 13:41:38.944: Theme parsing error: gtk.css:4:114: Failed to import: Error opening file /home/pkehl/.local/share/gnome-shell/extensions/no-title-bar@franglais125.gmail.com/stylesheet.css: No such file or directory`
`(/usr/lib/firefox/firefox:

[2021-07-29 15:52] AntDavidLima commented on #124
Same problem here. I could be mistaken, but apparently this extension is no longer being maintained, any other extension recommendations?

[2021-08-01 00:18] cckaybee commented on #124
There is a forked version that still seems to work: https://github.com/poehlerj/no-title-bar